@charset "utf-8";

/* PC */
@media (min-width: 1000px) {
    .L {
        position: absolute;
        display: flex;
        top: 330px;
        left: 250px;
    }

    .stand-2l td,
    .stand-3l td,
    .stand-4l td {
        padding: 8px;
    }

    .stand-2l tr,
    .stand-3l tr,
    .stand-4l tr {
        display: block;
    }

    /* 2階スタンドL席 */
    .stand-2l {
        border-right: solid 4px rgb(251, 206, 139);
        border-left: solid 4px rgb(251, 206, 139);

        background-color: rgb(249, 247, 205);
    }
    .stand-2lTop {
        border-top: solid 1px rgb(251, 206, 139);
    }
    .stand-2lBottom {
        border-bottom: solid 1px rgb(251, 206, 139);
    }

    /* 3階スタンドL席 */
    .stand-3l {
        border-right: solid 4px rgb(135, 248, 122);
        border-left: solid 4px rgb(135, 248, 122);

        background-color: rgb(217, 248, 213);
    }
    .stand-3lTop {
        border-top: solid 1px rgb(135, 248, 122);
    }
    .stand-3lBottom {
        border-bottom: solid 1px rgb(135, 248, 122);
    }

    /* 4階スタンドL席 */
    .stand-4l {
        border-right: solid 4px rgb(81, 175, 199);
        border-left: solid 4px rgb(81, 175, 199);

        background-color: rgb(208, 243, 253);
    }
    .stand-4lTop {
        border-top: solid 1px rgb(81, 175, 199);
    }
    .stand-4lBottom {
        border-bottom: solid 1px rgb(81, 175, 199);
    }
}

/* タブレット */
@media (max-width: 999px) {
    .L {
        display: flex;
        position: absolute;
        top: 370px; /* #contents内の上から何pxか */
        left: 50px; /*#contents内の左から何pxか */
    }

    .stand-2l td,
    .stand-3l td,
    .stand-4l td {
        padding: 4px;
    }

    .stand-2l tr,
    .stand-3l tr,
    .stand-4l tr {
        display: block;
    }

    /* 2階スタンドL席 */
    .stand-2l {
        border-right: solid 4px rgb(251, 206, 139);
        border-left: solid 4px rgb(251, 206, 139);
    }
    .stand-2lTop {
        border-top: solid 1px rgb(251, 206, 139);
    }
    .stand-2lBottom {
        border-bottom: solid 1px rgb(251, 206, 139);
    }

    /* 3階スタンドL席 */
    .stand-3l {
        border-right: solid 4px rgb(154, 248, 143);
        border-left: solid 4px rgb(154, 248, 143);
    }
    .stand-3lTop {
        border-top: solid 1px rgb(154, 248, 143);
    }
    .stand-3lBottom {
        border-bottom: solid 1px rgb(154, 248, 143);
    }

    /* 4階スタンドL席 */
    .stand-4l {
        border-right: solid 4px rgb(81, 175, 199);
        border-left: solid 4px rgb(81, 175, 199);
    }
    .stand-4lTop {
        border-top: solid 1px rgb(81, 175, 199);
    }
    .stand-4lBottom {
        border-bottom: solid 1px rgb(81, 175, 199);
    }
}

/* スマホ */
@media (max-width: 540px) {
    .L {
        position: absolute;
        display: flex;
        top: 460px; /* #contents内の上から何pxか */
        left: 75px; /*#contents内の左から何pxか */
    }

    .stand-2l tr,
    .stand-3l tr,
    .stand-4l tr {
        display: block;
    }

    /* 2階スタンドL席 */
    .stand-2l {
        border-right: solid 4px rgb(251, 206, 139);
        border-left: solid 4px rgb(251, 206, 139);
    }
    .stand-2lTop {
        border-top: solid 1px rgb(251, 206, 139);
    }
    .stand-2lBottom {
        border-bottom: solid 1px rgb(251, 206, 139);
    }

    /* 3階スタンドL席 */
    .stand-3l {
        border-right: solid 4px rgb(154, 248, 143);
        border-left: solid 4px rgb(154, 248, 143);
    }
    .stand-3lTop {
        border-top: solid 1px rgb(154, 248, 143);
    }
    .stand-3lBottom {
        border-bottom: solid 1px rgb(154, 248, 143);
    }

    /* 4階スタンドL席 */
    .stand-4l {
        border-right: solid 4px rgb(81, 175, 199);
        border-left: solid 4px rgb(81, 175, 199);
    }
    .stand-4lTop {
        border-top: solid 1px rgb(81, 175, 199);
    }
    .stand-4lBottom {
        border-bottom: solid 1px rgb(81, 175, 199);
    }
}
