@charset "utf-8";

/* PC */
@media (min-width: 1000px) {
    /* RC席 */

    .RC {
        transform: rotate(-57deg);
        position: absolute;
        top: 800px;
        right: 250px;
    }

    /* 2階スタンドRC席 */
    .stand-2rc {
        border-top: solid 5px rgb(251, 206, 139);
        border-bottom: solid 5px rgb(251, 206, 139);
        padding: 9px;
    }

    /* 3階スタンドRC席 */
    .stand-3rc {
        border-top: solid 5px rgb(154, 248, 143);
        border-bottom: solid 5px rgb(154, 248, 143);
        padding: 3px;
    }

    /* 4階スタンドRC席 */
    .stand-4rc {
        border-top: solid 5px rgb(81, 175, 199);
        border-bottom: solid 5px rgb(81, 175, 199);
        padding: 2px;
    }
}

/* タブレット */
@media (max-width: 999px) {
    .RC {
        transform: rotate(-57deg);
        position: absolute;
        top: 750px;
        right: -15px;
    }

    /* 2階スタンドRC席 */
    .stand-2rc {
        border-top: solid 5px rgb(251, 206, 139);
        border-bottom: solid 5px rgb(251, 206, 139);
        padding: 9px;
    }

    /* 3階スタンドRC席 */
    .stand-3rc {
        border-top: solid 5px rgb(154, 248, 143);
        border-bottom: solid 5px rgb(154, 248, 143);
        padding: 3px;
    }

    /* 4階スタンドRC席 */
    .stand-4rc {
        border-top: solid 5px rgb(81, 175, 199);
        border-bottom: solid 5px rgb(81, 175, 199);
        padding: 2px;
    }
}

/* スマホ */
@media (max-width: 540px) {
    .RC {
        transform: rotate(-57deg);
        position: absolute;
        top: 830px;
        right: -460px;
    }

    /* 2階スタンドRC席 */
    .stand-2rc {
        border-top: solid 5px rgb(251, 206, 139);
        border-bottom: solid 5px rgb(251, 206, 139);
        padding: 9px;
    }

    /* 3階スタンドRC席 */
    .stand-3rc {
        border-top: solid 5px rgb(154, 248, 143);
        border-bottom: solid 5px rgb(154, 248, 143);
        padding: 3px;
    }

    /* 4階スタンドRC席 */
    .stand-4rc {
        border-top: solid 5px rgb(81, 175, 199);
        border-bottom: solid 5px rgb(81, 175, 199);
        padding: 2px;
    }
}
