@charset "utf-8";

table {
    margin: 20px auto;
}

/* ステージ */
.arena th {
    background: #9a8e8e;
    color: #fff;
    padding: 25px;
    border-bottom: solid 20px;
    width: 639px;
    height: 90px;
    text-align: center;
}

/* アリーナ */
#arena-a {
    border-right: solid 10px rgb(173, 236, 252);
    border-left: solid 10px rgb(173, 236, 252);
    padding: 25px;
}
#arena-top {
    border-top: solid 8px rgb(173, 236, 252);
}
#arena-bottom {
    border-bottom: solid 13px rgb(173, 236, 252);
}
#cd-arena {
    margin-left: 94px;
}

/* 2階スタンドL席 */
#stand-2l {
    border-right: solid 5px rgb(251, 206, 139);
    border-left: solid 5px rgb(251, 206, 139);
    padding: 10px;
    transform: translate(-380px, -447px);
}
.stand-2l tr {
    display: block;
}
#stand-2lTop {
    border-top: solid 5px rgb(251, 206, 139);
}
#stand-2lBottom {
    border-bottom: solid 5px rgb(251, 206, 139);
}

/* 3階スタンドL席 */
#stand-3l {
    border-right: solid 5px rgb(154, 248, 143);
    border-left: solid 5px rgb(154, 248, 143);
    padding: 10px;
    transform: translate(-450px, -780px);
}
.stand-3l tr {
    display: block;
}
#stand-3lTop {
    border-top: solid 5px rgb(154, 248, 143);
}
#stand-3lBottom {
    border-bottom: solid 5px rgb(154, 248, 143);
}

/* 4階スタンドL席 */
#stand-4l {
    border-right: solid 5px rgb(81, 175, 199);
    border-left: solid 5px rgb(81, 175, 199);
    padding: 10px;
    transform: translate(-520px, -1113px);
}
.stand-4l tr {
    display: block;
}
#stand-4lTop {
    border-top: solid 5px rgb(81, 175, 199);
}
#stand-4lBottom {
    border-bottom: solid 5px rgb(81, 175, 199);
}
