@charset "utf-8";
@media (min-width: 1500px) {
    table {
        margin: 20px auto;
    }
    .venue {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: double 5px #000000;
        height: 120vh;
        width: 150vh;
        margin-right: auto;
        margin-left: auto;
    }

    /* ステージ */
    .stage {
        background: #9a8e8e;
        color: #fff;
        padding: 25px;
        border-bottom: solid 20px;
        width: 639px;
        height: 90px;
        text-align: center;
    }

    /* アリーナ */
    .arena {
        border-right: solid 10px rgb(173, 236, 252);
        border-left: solid 10px rgb(173, 236, 252);
        padding: 25px;
        height: 90px;
    }
    .arena-top {
        border-top: solid 8px rgb(173, 236, 252);
    }
    .arena-bottom {
        border-bottom: solid 13px rgb(173, 236, 252);
    }
    .cd-arena {
        margin-left: 94px;
    }
}

/* mac画面 */
@media (min-width: 1000px) {
    table {
        margin: 20px auto;
    }
    .venue {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: double 5px #000000;
        height: 150vh;
        width: 170vh;
        margin-right: auto;
        margin-left: auto;
    }

    /* ステージ */
    .stage {
        background: #9a8e8e;
        color: #fff;
        padding: 25px;
        border-bottom: solid 20px;
        width: 639px;
        height: 90px;
        text-align: center;
    }

    /* アリーナ */
    .arena {
        border-right: solid 10px rgb(173, 236, 252);
        border-left: solid 10px rgb(173, 236, 252);
        padding: 25px;
        height: 90px;
    }
    .arena-top {
        border-top: solid 8px rgb(173, 236, 252);
    }
    .arena-bottom {
        border-bottom: solid 13px rgb(173, 236, 252);
    }
    .cd-arena {
        margin-left: 94px;
    }
}
